@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}


@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Your default theme */
  --background: white;
  --foreground: blue;
}

[data-theme='dark'] {
  --background: black;
  --foreground: red;
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#fondo {
  background: conic-gradient(
    from var(--angle),
    #020813,
    #000c27,
    #000e01,
    #22000c,
    #000713
  );
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}